.aArticle
  &-Headline
    margin-top: 0
    a
      text-decoration: underline
      color: $color-accent
      font-size: $font-size-huge
      
      &:hover
        color: darken($color-accent, 10)
