<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>{{ page.title }}</title>
    <meta name=”description” content=”Christian Poplawski is a Designer and Developer from Cologne, Germany”>
    <meta http-equiv=”language” content=”en”>
    <meta property="og:title" content="Facebook Open Graph META Tags"/>
    <meta property="og:image" content="/og_image.png"/>
    <meta property="og:site_name" content="{{ page.title }}"/>
    <meta property="og:description" content="Christian Poplawski is a Designer and Developer from Cologne, Germany"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_chrispop" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="Christian Poplawski is a Designer and Developer from Cologne, Germany" />
    <meta name="twitter:image" content="/og_image.png" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="lWrapper">
      {{ content }}
    </div>
  </body>
</html>
