// Font Families
$font-family-base: 'Source Code Pro', monospace
$font-family-text: 'Fira Sans', sans-serif

// Font Sizes
$font-size-giant: 28px
$font-size-huge: 24px
$font-size-big: 20px
$font-size-large: 18px
$font-size-medium: 16px
$font-size-small: 14px

// Font Weights
$font-weight-bold: 700
$font-weight-regular: 400

// Colors
$color-accent: #EC8383
$color-black: #333333
$color-grey: #797777
$color-light-grey: #8F8F8F
$color-white: #FFFFFF
